@use "sass:list";
@import "configuration";

* {
  margin: 0;
}



@each $mycolor in $mycolors {
  .myclass-#{$mycolor} {
    background: $mycolor;
    font-weight: bolder;
    font-size: 2rem;
  }
}
@debug list.nth($mycolors, 2);
@debug "Hi my name is Mike";

.mygrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20vh 80vh;
  background: yellow;
  color: white;
}

.top {
  grid-column-end: 4;
  grid-column-start: 1;
  background: list.nth($mycolors, 1);
  &:hover{
    background: white;
    color: black;
  }
}

.left {
  background: list.nth($mycolors, 2);
  li {
    color: black;
    font-size: 1.5rem;
    list-style: none;
  }
}

.middle {
  background: list.nth($mycolors, 3);
}

.right {
  background: list.nth($mycolors, 4);
}

